---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Main />
	</main>
</Layout>